<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AddNote</servlet-name>
    <servlet-class>com.root.pkg.AddNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNote</servlet-name>
    <url-pattern>/addnote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewNotes</servlet-name>
    <servlet-class>com.root.pkg.ViewNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNotes</servlet-name>
    <url-pattern>/viewnotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchNote</servlet-name>
    <servlet-class>com.root.pkg.SearchNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNote</servlet-name>
    <url-pattern>/searchnote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoteDetail</servlet-name>
    <servlet-class>com.root.pkg.NoteDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteDetail</servlet-name>
    <url-pattern>/notedetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNote</servlet-name>
    <servlet-class>com.root.pkg.DeleteNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNote</servlet-name>
    <url-pattern>/deletenote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNote</servlet-name>
    <servlet-class>com.root.pkg.UpdateNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNote</servlet-name>
    <url-pattern>/updatenote</url-pattern>
  </servlet-mapping>
</web-app>